// Importing variables
@import '../variables.scss';

article.media.center span.icon {
  padding: 0 24px;
}

section span.icon a {
  border-bottom: 1px solid;
  color: #4a4a4a;
}
section span.icon a:hover {
  color: $sand-tan;
}
