// Importing variables
@import '../components/variables.scss';


.gradient {
	background: linear-gradient(to right, primary, $secondary-color);
}

.blog-post-container {
	margin: 10px 40px;

    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: 1fr;
    row-gap: 4px;
}

div.breadcrumb-container .breadcrumb a{
	text-transform: uppercase;
	color: hsl(204, 86%, 53%);
}

.title.is-1.has-text-centered.is-uppercase {
	margin-top: 16px;
	margin-bottom: 0;
	font-size: 48px;
}

div.subtitle.is-5.is-spaced {
	margin-top: 0;
	display: flex;
}

.social-container {
	border-top: 1px rgb(174, 190, 207) solid;
	border-bottom: 1px rgb(174, 190, 207) solid;
	margin: 20px 0 30px 0;
}

.media.center {
	padding: 24px 0 10px 0;
}

.pads {
	margin: 10px 10px;
}

.icon a {
	color: black;
}

div.blog-post-content {
	font-size: 1.8rem;
}

.tagging.field.is-grouped {
	margin: 20px 0;
	justify-content: center;
}
