// Importing variables
@import '../components/variables.scss';


.gradient {
	background: linear-gradient(to left, primary, $sand-tan);
}

.blog-post-container {
	margin: 10px 40px;

    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: 1fr;
    row-gap: 1px;
}

div.breadcrumb-container .breadcrumb a{
	text-transform: uppercase;
	color: $sand-tan-shadow;
}

.title.is-2.has-text-centered.is-uppercase {
	margin-top: 16px;
	margin-bottom: 0;
	// font-size: 48px;
}

div.subtitle.is-5.is-spaced {
	margin: 0;
	display: flex;
}

.social-container {
	border-top: 1px rgb(174, 190, 207) solid;
	border-bottom: 1px rgb(174, 190, 207) solid;
	margin-bottom: 24px;
}

.media.center {
	padding-top: 6px;
}

.pads {
	margin: 6px 6px;
}

.icon a {
	color: black;
}

div.blog-post-content {
	font-size: 1.2rem;
}

.tagging.field.is-grouped {
	margin: 20px 0;
	justify-content: center;
}
