// Importing variables
@import '../variables.scss';

.social span.icon {
  padding: 0 24px;
}

.social a {
  color: black;
}

div > h1 + .line-color::before {
  background: $sand-tan;
}

.vertical-timeline-element-icon
  + .vertical-timeline-element-content
  .vertical-timeline-element-date {
  color: $sand-tan;
  font-weight: 800;
}
