div.columns section {
  border-left: 0;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 2rem 3rem;
}
div.columns section {
  border-left: 0;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 2rem 3rem;
}

.section-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  border-left: 2px solid #e2e2e2;
}

.section-container > h1.title.is-4 + section {
  margin-top: 32px;
}

.section-container > section {
  display: flex;
  align-items: center;
  padding: 3.15rem 4rem;
  border-top: 2px solid #e2e2e2;
}

.section-container section h3 {
  flex-shrink: 0;
  flex-grow: 0;
  width: 6rem;
  margin-bottom: 0px;
}

.section-container section p {
  flex-shrink: 1;
  flex-grow: 1;
  margin-bottom: 0px;
  text-align: justify;
}

.column.is-half {
  min-height: 600px;
  margin: 20px;
  background-color: #f5f5f5;
  padding: 4rem 4rem 2rem;
}

section + article {
  border-top: 2px solid #e2e2e2;
}

article.media.center section {
  padding-top: 0;
  padding-bottom: 0;
}