
.playlistItems {
  display: flex;
  flex-direction: column;
}

.playlistItemContainer {
  margin-top: 2rem;
  width: 100%;
}

.playlistItem {
  align-items: flex-start;
  display: flex;
  height: 100%;
  justify-content: space-around;
  margin-bottom: 4rem;

  @media (--small-viewport) {
    margin-bottom: 1rem;
  }
}

.playlistDescription {
  color: var(--mediumGray);
  font-style: italic;
  padding-bottom: 1rem;
}

.playlistImage {
  height: 18rem;
  width: 18rem;

  @media (--small-viewport) {
    display: none;
  }
}

.spotifyEmbed {
  height: 18rem;
  width: 70%;

  @media (--small-viewport) {
    width: 100%;
  }
}
