@import '../variables.scss';

div.sticky-footer div div.spotify-info {
  margin: 46px 32px 64px 32px;
  text-align: center;
}

div.sticky-footer div div.spotify-info a {
  color: black;
}

div.sticky-footer div div.spotify-info a:hover {
  color: $night-blue;
}

.check-it-out {
  vertical-align: super;
  padding-left: 6px;
}

.playlistItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-areas:
    'playlist playlist playlist'
    'playlist playlist playlist';
}

article.playlistItems > a {
  text-align: -webkit-center;
}

.playlistItemContainer {
  height: 100%;
}

.playlistItemContainer h2 {
  text-align: center;
}

.playlistItem {
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 4rem;

  @media (--small-viewport) {
    margin-bottom: 1rem;
  }
}

.spotifyEmbed {
  height: 64rem;
  width: 95%;

  @media (--small-viewport) {
    width: 100%;
  }
}

div.playlistItem > div {
  height: 50%;
  width: 50%;
  margin-bottom: 24px;
}
