// Importing variables
@import '../components/variables.scss';

.tag-page-container {
	margin: 10px 40px;

    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: 1fr;
    row-gap: 1px;
}

div.tagsContainer {
    padding: 50px;
}

h1.is-title {
    margin-bottom: 12px;
}

ul li a,
ul + a {
    font-size: 24px;
    line-height: 36px;
    color: $sand-tan;
}