// Importing variables
@import '../variables.scss';

.gradientBg {
	display: flex;
	background: linear-gradient(to right, $primary-color, primary);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}