// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

.gradientBg {
	display: flex;
	background: linear-gradient(to left, $primary-color, $secondary-color);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sticky-footer {
	min-height: 100%;
	height: 100vh;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: 1fr;
    row-gap: 4px;
}

.not-found-box {
	align-self: center;
}