// Importing variables
@import '../variables.scss';

.navbarLink {
  vertical-align: middle;
  border: none;
  background: none;
  font-size: 0.9rem;
}

.colorGradient {
  display: flex;
  background: linear-gradient(to left, $night-blue, $sand-tan);
}

nav.navbar.colorGradient div.container {
  width: 100%;
  padding: 0 64px;
}

div.Home
  .navbar-menu
  .navbar-end
  .navbar-item
  .dropdown
  .dropdown-menu
  .dropdown-content {
  background-color: transparent;
}

div:not(.Home)
  .navbar-menu
  .navbar-end
  .navbar-item
  .dropdown
  .dropdown-menu
  .dropdown-content {
  background-color: $night-blue;
}

div.dropdown-menu {
  min-width: 100%;
}

div a.dropdown-item {
  font-size: 1rem;
  color: white;
}

div:not(.Home) div a.dropdown-item:hover {
  background-color: $sand-tan;
}

.icon.no-padding {
  padding: 0 12px;
  border: 0;
  margin: 0;
}

#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .navbar-menu {
  display: block;
  background: transparent;
  float: right;
  text-align: right;
}

#nav-toggle-state:checked
  ~ .navbar-menu
  .navbar-end
  .navbar-item
  .dropdown
  .dropdown-menu
  .dropdown-content
  .navbar-item {
  display: contents;
}

#nav-toggle-state:checked ~ .navbar-menu .navbar-end .navVR {
  display: none;
}
