// Importing variables
@import '../variables.scss';

.navbarLink {
	vertical-align: middle;
	border: none;
	background: none;
	font-size: 2rem;
}

.gradientBg {
	display: flex;
	background: linear-gradient(to right, $primary-color, $secondary-color);
}

div a.navbar-item:hover {
	background-color: transparent;
}

.no-padding {
	padding: 0 30px;
	border: 0;
	margin: 0;
}

div.dropdown-menu {
	min-width: 100%;
}

div a.dropdown-item {
	font-size: 1.5rem;
}

nav.navbar.gradientBg div.container {
	width: 100%;
    padding: 0 10px;
}

.navVR {
	margin-top: 19px;
	width:1px;
	border-left: 1px white;
	border-right: 1px white;
	height:15px;
	margin-left: 3px;
	margin-right: 3px;
}